<?xml version="1.0" ?>
<robot name="table">
  <link name="base_link" />

  <link name="table">
    <visual>
      <geometry>
        <mesh filename="$(find objects_descriptions)/meshes/table/table.stl" />
      </geometry>
      <material name="Shape.003">
        <color rgba="0.33 0.24 0.15 1" />
      </material>
    </visual>
	<collision>
		<origin xyz="0 0.18 0.4" rpy="0 0 0"/>
	      <geometry>
		  <box size="1.6 0.7 0.7" />
	      </geometry>
	</collision>

  </link>

  <joint name="table" type="fixed">
    <parent link="base_link" />
    <child link="table" />
  </joint>

</robot>
